http_interactions:
- request:
    method: get
    uri: https://mangal.io/api/v2/network/18
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1a4-rPSuifvTYRE9aZI5f0D+ecqpl2U"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":18,"name":"mosquin_martin_1967_19650731_18","date":"1965-07-31T00:00:00.000Z","geom":{"type":"Point","coordinates":[-114.966667,75]},"description":"Occurence
        of flower-visiting insect on plant species, two miles north of Bailey Point,
        Melville Island, N.W.T., Canada","public":true,"all_interactions":false,"created_at":"2019-02-22T18:38:37.491Z","updated_at":"2019-02-22T18:38:37.491Z","dataset_id":4,"user_id":3}'
  recorded_at: 2021-11-08 23:08:33 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/node?network_id=18&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-28/29
      etag: W/"2d1f-GuJWU97zo3lL1R0lbKVn9Mt7Aq4"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2599,"original_name":"Spilogona sanctipauli","node_level":"taxon","network_id":18,"taxonomy_id":1591,"created_at":"2019-02-22T18:38:40.906Z","updated_at":"2019-02-22T18:38:40.906Z","taxonomy":{"id":1591,"name":"Spilogona
        sanctipauli","ncbi":1790216,"tsn":151014,"eol":730414,"bold":365798,"gbif":1532196,"col":"833656371e40bd4782961b44abeda797","rank":"species","created_at":"2019-02-21T22:09:57.694Z","updated_at":"2019-06-14T15:21:26.240Z"}},{"id":2600,"original_name":"Bombus
        polaris","node_level":"taxon","network_id":18,"taxonomy_id":1956,"created_at":"2019-02-22T18:38:40.950Z","updated_at":"2019-02-22T18:38:40.950Z","taxonomy":{"id":1956,"name":"Bombus
        polaris","ncbi":130708,"tsn":714831,"eol":1065341,"bold":31789,"gbif":1340367,"col":"2a7dd1d3a99176092d09b17c65ddc7ac","rank":"species","created_at":"2019-02-21T22:14:44.947Z"[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/node?network_id=18&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-28/29
      etag: W/"2d1f-GuJWU97zo3lL1R0lbKVn9Mt7Aq4"
    body:
      encoding: UTF-8
   [...]
- request:
    method: get
    uri: https://mangal.io/api/v2/interaction?network_id=18&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-37/38
      etag: W/"4da7-redMKJhDxwwUi9RQST6euk0NHY0"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":52630,"node_from":2599,"node_to":2617,"date":"1965-07-31T00:00:00.000Z","direction":"directed","type":"mutualism","method":"field
        observation/capture","attr_id":3,"value":19,"geom":null,"public":true,"network_id":18,"created_at":"2019-02-24T21:34:01.049Z","updated_at":"2019-02-24T21:34:01.049Z","attribute":{"id":3,"name":"number
        of pollinator","description":"Number of insects captured while pollination","unit":"individual
        captured","created_at":"2019-02-22T16:45:42.655Z","updated_at":"2019-02-22T16:45:42.655Z"}},{"id":52631,"node_from":2599,"node_to":2618,"date":"1965-07-31T00:00:00.000Z","direction":"directed","type":"mutualism","method":"field
        observation/capture","attr_id":3,"value":15,"geom":null,"public":true,"network_id":18,"created_at":"2019-02-24T21:34:01.117Z","updated_at":"2019-02-24T21:34:01.117Z","attribute":{"id":3,"name":"number
        of pollinator","description":"Numbe[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/interaction?network_id=18&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-37/38
      etag: W/"4da7-redMKJhDxwwUi9RQST6euk0NHY0"
    body:
      encoding: UT[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset/4
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"121-N0AxmfsUDXm1O1dV5f4lE+Obsqs"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":4,"name":"mosquin_martin_1967","description":"Occurence of flower-visiting
        insect on plant species, two miles north of Bailey Point, Melville Island,
        N.W.T., Canada","public":true,"created_at":"2019-02-22T16:45:59.451Z","updated_at":"2019-02-22T16:45:59.451Z","ref_id":4,"user_id":3}'
  recorded_at: 2021-11-08 23:08:33 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/reference/4
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"25a-ycqPaAaXH2g2ss1InDvTZIvLPKM"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":4,"doi":null,"first_author":"mosquin","year":"1967","jstor":null,"pmid":null,"bibtex":"@article{article,
        author = {Mosquin, Theodore and Martin, J. E. H.}, year = {1967}, pages =
        {201-205}, title = {Observations on the pollination biology of plants on Melville
        Island, N.W.T., Canada}, journal = {Canadian Field Naturalist}, volume = {81}}","paper_url":"https://www.biodiversitylibrary.org/pdf4/075601100090098.pdf","data_url":"https://www.nceas.ucsb.edu/interactionweb/data/plant_pollinator/excel/mosquin_1967.xls","created_at":"2019-02-22T16:45:54.246Z","updated_at":"2019-02-22T16:45:54.246Z"}'
  recorded_at: 2021-11-08 23:08:33 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/network?q=lagoon&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-2/3
      etag: W/"3fc-8ssqLXOR4aVJfASjwsU1n992ocQ"
    body:
      encoding: UTF-8
      file: no
[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/network?q=lagoon&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-2/3
      etag: W/"3fc-8ssqLXOR4aVJfASjwsU1n992ocQ"
    body:
      encoding: UTF-8
      fi[...]
