http_interactions:
- request:
    method: get
    uri: https://mangal.io/api/v2/network?q=lagoon%25&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-2/3
      etag: W/"3fc-8ssqLXOR4aVJfASjwsU1n992ocQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":86,"name":"zetina_2003_20030101_86","date":"2003-01-01T00:00:00.000Z","geom":{"type":"Point","coordinates":[-106.10993,22.985307]},"description":"Dietary
        matrix of the Huizache–Caimanero lagoon","public":true,"all_interactions":false,"created_at":"2019-02-23T17:04:34.046Z","updated_at":"2019-02-23T17:04:34.046Z","dataset_id":22,"user_id":3},{"id":927,"name":"yanez_1978_19730901_927","date":"1973-09-01T00:00:00.000Z","geom":{"type":"Point","coordinates":[-100.365564,17.069151]},"description":"Food
        web of the Brackish lagoon","public":true,"all_interactions":false,"created_at":"2019-02-25T15:09:11.020Z","updated_at":"2019-02-25T15:09:11.020Z","dataset_id":52,"user_id":3},{"id":926,"name":"yanez_1978_19730901_926","date":"1973-09-01T00:00:00.000Z","geom":{"type":"Point","coordinates":[-100.365564,17.069151]},"description":"Food
        web of the Costal lagoon","public":true,"all_interactions":false,"created_at":"2019-02-25T15:09:10.651Z","updated_at":"2019-02-25T15:09:10.651Z","dataset_id":52,"user_id":3}]'
  recorded_at: 2021-11-08 23:08:36 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/network?q=lagoon%25&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-2/3
      etag: W/"3fc-8ssqLXOR4aVJfASjwsU1n992ocQ"
    body:
      encoding: UTF-8
     [...]
