http_interactions:
- request:
    method: get
    uri: https://mangal.io/api/v2/network/100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"11f-9rC4rS9cT3EjZWTWIVnvz7lthec"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":100,"name":"mackintosh_1967_19450101_100","date":"1945-01-01T00:00:00.000Z","geom":null,"description":"A
        survey of antarctic biology","public":true,"all_interactions":false,"created_at":"2019-02-24T16:29:51.548Z","updated_at":"2019-02-24T16:29:51.548Z","dataset_id":36,"user_id":3}'
  recorded_at: 2021-11-08 23:08:03 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/node?network_id=100&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-13/14
      etag: W/"138e-ANGDn2W+m4cUy9bA4SQHh4Ga9vM"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":5295,"original_name":"Euphausia superba","node_level":"taxon","network_id":100,"taxonomy_id":4396,"created_at":"2019-02-24T16:29:55.971Z","updated_at":"2019-02-24T16:29:55.971Z","taxonomy":{"id":4396,"name":"Euphausia
        superba","ncbi":6819,"tsn":95514,"eol":509426,"bold":8292,"gbif":2228010,"col":"9b5816e13fe1783d6d65f7075aba514f","rank":"species","created_at":"2019-02-23T18:03:01.842Z","updated_at":"2019-06-14T15:25:48.310Z"}},{"id":5298,"original_name":"baleen
        whales","node_level":"taxon","network_id":100,"taxonomy_id":4446,"created_at":"2019-02-24T16:29:56.121Z","updated_at":"2019-02-24T16:29:56.121Z","taxonomy":{"id":4446,"name":"Balaenoptera","ncbi":9766,"tsn":95460,"eol":46559425,"bold":3105,"gbif":null,"col":"3acaf6dcf2a178ecbe9f4e21c1bf9248","rank":"genus","created_at":"2019-02-24T00:46:08.895Z","updated_at":"201[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/node?network_id=100&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-13/14
      etag: W/"138e-ANGDn2W+m4cUy9bA4SQHh4Ga9vM"
    body:
      encoding: UTF-8
  [...]
- request:
    method: get
    uri: https://mangal.io/api/v2/interaction?network_id=100&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-31/32
      etag: W/"50c1-S33yjCh5uQcQUuo3LvCPUembRe4"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":50049,"node_from":5295,"node_to":5308,"date":"1945-01-01T00:00:00.000Z","direction":"directed","type":"herbivory","method":null,"attr_id":1,"value":1,"geom":null,"public":true,"network_id":100,"created_at":"2019-02-24T16:30:08.849Z","updated_at":"2019-02-24T16:30:08.849Z","attribute":{"id":1,"name":"presence/absence","description":"Presence
        or absence of an interaction; this is a unitless measurement that should be
        used as the default attribute when no further information is known. Paired
        wtih a value of 0, it can represent a true absence","unit":null,"created_at":"2019-02-21T21:17:01.496Z","updated_at":"2021-11-02T20:32:33.821Z"}},{"id":50064,"node_from":5301,"node_to":5297,"date":"1945-01-01T00:00:00.000Z","direction":"directed","type":"predation","method":null,"attr_id":1,"value":1,"geom":null,"public":true,"network_id":100,"created_at":"2019-02-24T16:30:09.720Z","updated_at":"2019-02-24T16:30:09.720Z","attribute":{"id":1,"name":"presence/absence","description":"Presence
        or absence of an interaction; this is a unitless measure[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/interaction?network_id=100&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-31/32
      etag: W/"50c1-E393FW13yRAqGG/dtMStMHtelBA"
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset/36
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c6-R660ZA4efKR4jYC5zCEFX84M+9Q"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":36,"name":"mackintosh_1967","description":"A survey of antarctic
        biology","public":true,"created_at":"2019-02-24T16:29:45.863Z","updated_at":"2019-02-24T16:29:45.863Z","ref_id":38,"user_id":3}'
  recorded_at: 2021-11-08 23:08:03 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/reference/38
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1fa-mAHGEDRGnNzluULgThNaheFtspY"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":38,"doi":null,"first_author":"n. a. mackintosh","year":"1967","jstor":null,"pmid":null,"bibtex":"@incollection{mackintosh_1967,
        title = {A survey of antarctic biology up to 1945}, booktitle = {Biologie
        antarctique},  author = {N. A. Mackintosh}, editor = {R. Carrick, M. Holdgate,
        J. Prevost},  pages = {3-38}, year = {1967}, publisher = {(Hermann, Paris,
        1964)}}","paper_url":null,"data_url":"https://globalwebdb.com/","created_at":"2019-02-24T16:29:42.251Z","updated_at":"2019-02-24T16:29:42.251Z"}'
  recorded_at: 2021-11-08 23:08:03 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
