http_interactions:
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset?q=closs&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"d1-LhUrvlwLySQF4Qm0/RDx6YV2s70"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":48,"name":"closs_1994","description":"Food web of australian
        interminttent-stream","public":true,"created_at":"2019-02-24T20:45:37.727Z","updated_at":"2019-02-24T20:45:37.727Z","ref_id":49,"user_id":3}]'
  recorded_at: 2020-10-25 21:52:42 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset?q=closs&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"d1-LhUrvlwLySQF4Qm0/RDx6YV2s70"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":48,"name":"closs_1994","description":"Food web of australian
        interminttent-stream","public":true,"created_at":"2019-02-24T20:45:37.727Z","updated_at":"2019-02-24T20:45:37.727Z","ref_id":49,"user_id":3}]'
  recorded_at: 2020-10-25 21:52:42 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/network?dataset_id=48&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-11/12
      etag: W/"102e-NHDfo9T1MePMvE/kqEPjlu3O690"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":1089,"name":"closs_1994_19850501_1089","date":"1985-05-01T00:00:00.000Z","geom":{"type":"Point","coordinates":[144.281862,-37.615317]},"description":"Food
        web of the Lerderderg River site A","public":true,"all_interactions":false,"created_at":"2019-02-26T20:41:46.365Z","updated_at":"2019-02-26T20:41:46.365Z","dataset_id":48,"user_id":3},{"id":1090,"name":"closs_1994_19850501_1090","date":"1985-05-01T00:00:00.000Z","geom":{"type":"Point","coordinates":[144.281862,-37.615317]},"description":"Food
        web of the Lerderderg River site B","public":true,"all_interactions":false,"created_at":"2019-02-26T20:41:46.747Z","updated_at":"2019-02-26T20:41:46.747Z","dataset_id":48,"user_id":3},{"id":1091,"name":"closs_1994_19850501_1091","date":"1985-05-01T00:00:00.000Z","geom":{"type":"Point","coordinates":[144.281862,-37[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/network?dataset_id=48&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-11/12
      etag: W/"102e-NHDfo9T1MePMvE/kqEPjlu3O690"
    body:
      encoding: UTF-8
[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/reference/49
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"276-cX4XxjlTOkfKWkoye7AQ77ACBQY"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":49,"doi":"10.2307/2937053","first_author":"g. p. closs","year":"1994","jstor":null,"pmid":null,"bibtex":"@article{Closs_1994,
        doi = {10.2307/2937053}, url = {https://doi.org/10.2307%2F2937053}, year =
        1994, month = {feb}, publisher = {Wiley}, volume = {64}, number = {1}, pages
        = {1--21}, author = {G. P. Closs and P. S. Lake}, title = {Spatial and Temporal
        Variation in the Structure of an Intermittent-Stream Food Web}, journal =
        {Ecological Monographs}}","paper_url":"https://doi.org/10.2307%2F2937053","data_url":"https://globalwebdb.com/","created_at":"2019-02-24T20:45:33.602Z","updated_at":"2019-02-24T20:45:33.602Z"}'
  recorded_at: 2020-10-25 21:52:42 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/network/1089
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"158-7g9Qlux7X9+UdW0iSGOznBp1xqw"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":1089,"name":"closs_1994_19850501_1089","date":"1985-05-01T00:00:00.000Z","geom":{"type":"Point","coordinates":[144.281862,-37.615317]},"description":"Food
        web of the Lerderderg River site A","public":true,"all_interactions":false,"created_at":"2019-02-26T20:41:46.365Z","updated_at":"2019-02-26T20:41:46.365Z","dataset_id":48,"user_id":3}'
  recorded_at: 2020-10-25 21:52:42 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/node?network_id=1089&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-20/21
      etag: W/"1fa3-wKO8W3CtLOJep+xwVgK12PJGn/g"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":13906,"original_name":"Tubificidae sp. (Oligochaeta)","node_level":"taxon","network_id":1089,"taxonomy_id":4735,"created_at":"2019-02-26T20:41:53.985Z","updated_at":"2019-02-26T20:41:53.985Z","taxonomy":{"id":4735,"name":"Tubificidae","ncbi":2109251,"tsn":68585,"eol":52311994,"bold":null,"gbif":null,"col":null,"rank":null,"created_at":"2019-02-24T20:46:09.561Z","updated_at":"2019-06-14T15:26:03.803Z"}},{"id":13907,"original_name":"Naididae
        sp. (Oligochaeta)","node_level":"taxon","network_id":1089,"taxonomy_id":4736,"created_at":"2019-02-26T20:41:54.054Z","updated_at":"2019-02-26T20:41:54.054Z","taxonomy":{"id":4736,"name":"Naididae","ncbi":2109251,"tsn":68854,"eol":58,"bold":30651,"gbif":null,"col":"4ddba68c77f5c593ee7b37afc56d2a1f","rank":"family","created_at":"2019-02-24T20:46:09.677Z","updated_at"[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/node?network_id=1089&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-20/21
      etag: W/"1fa3-wKO8W3CtLOJep+xwVgK12PJGn/g"
    body:
      encoding: UTF-8
 [...]
- request:
    method: get
    uri: https://mangal.io/api/v2/interaction?network_id=1089&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-49/50
      etag: W/"6063-diX/4hUexMVMytnzpm7xoyp3k14"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":65172,"node_from":13910,"node_to":13924,"date":"1985-05-01T00:00:00.000Z","direction":"directed","type":"predation","method":"observation","attr_id":1,"value":1,"geom":null,"public":true,"network_id":1089,"created_at":"2019-02-26T20:42:38.087Z","updated_at":"2019-02-26T20:42:38.087Z","attribute":{"id":1,"name":"presence/absence","description":"Presence
        or absence of a recorded interaction","unit":null,"created_at":"2019-02-21T21:17:01.496Z","updated_at":"2019-02-21T21:17:01.496Z"}},{"id":65159,"node_from":13906,"node_to":13922,"date":"1985-05-01T00:00:00.000Z","direction":"directed","type":"scavenger","method":"observation","attr_id":1,"value":1,"geom":null,"public":true,"network_id":1089,"created_at":"2019-02-26T20:42:37.653Z","updated_at":"2019-02-26T20:42:37.653Z","attribute":{"id":1,"name":"presence/absence","description":"Presence
        or absence of a recorded interaction","unit"[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/interaction?network_id=1089&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-49/50
      etag: W/"6063-diX/4hUexMVMytnzpm7xoyp3k14"
    body:
      encoding: [...]
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset/48
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"cf-NKArUEypKIALAIHn+ilfnWd6N8g"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":48,"name":"closs_1994","description":"Food web of australian
        interminttent-stream","public":true,"created_at":"2019-02-24T20:45:37.727Z","updated_at":"2019-02-24T20:45:37.727Z","ref_id":49,"user_id":3}'
  recorded_at: 2020-10-25 21:52:42 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
[...]
