http_interactions:
- request:
    method: get
    uri: https://mangal.io/api/v2/reference?doi=10.2307%2F3225248&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"328-xbKzlZ5zcPeirTbGPNk9epSo/tA"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":132,"doi":"10.2307/3225248","first_author":"koslucher","year":"1973","jstor":"https://www.jstor.org/stable/3225248","pmid":null,"bibtex":"@article{Koslucher_1973,
        doi = {10.2307/3225248}, url = {https://doi.org/10.2307%2F3225248}, year =
        1973, month = {jul}, publisher = {{JSTOR}}, volume = {92}, number = {3}, pages
        = {441}, author = {Dale G. Koslucher and G. Wayne Minshall}, title = {Food
        Habits of Some Benthic Invertebrates in a Northern Cool-Desert Stream (Deep
        Creek, Curlew Valley, Idaho-Utah)}, journal = {Transactions of the American
        Microscopical Society}}","paper_url":"https://www.jstor.org/stable/pdf/3225248.pdf?refreqid=excelsior%3Ae2741b937f74579b7875d7ade8f58f47","data_url":"https://globalwebdb.com/","created_at":"2019-03-08T19:27:48.551Z","updated_at":"2019-03-08T19:27:48.551Z"}]'
  recorded_at: 2020-10-25 21:53:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/reference?doi=10.2307%2F3225248&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"328-xbKzlZ5zcPeirTbGPNk9epSo/tA"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":132,"doi":"10.2307/3225248","first_author":"koslucher","year":"1973","jstor":"https://www.jstor.org/stable/3225248","pmid":null,"bibtex":"@article{Koslucher_1973,
        doi = {10.2307/3225248}, url = {https://doi.org/10.2307%2F3225248}, year =
        1973, month = {jul}, publisher = {{JSTOR}}, volume = {92}, number = {3}, pages
        = {441}, author = {Dale G. Koslucher and G. Wayne Minshall}, title = {Food
        Habits of Some Benthic Invertebrates in a Northern Cool-Desert Stream (Deep
        Creek, Curlew Valley, Idaho-Utah)}, journal = {Transactions of the American
        Microscopical Society}}","paper_url":"https://www.jstor.org/stable/pdf/3225248.pdf?refreqid=excelsior%3Ae2741b937f74579b7875d7ade8f58f47","data_url":"https://globalwebdb.com/","created_at":"2019-03-08T19:27:48.551Z","updated_at":"2019-03-08T19:27:48.551Z"}]'
  recorded_at: 2020-10-25 21:53:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset?ref_id=132&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"110-UEnCe66922wVlxt2arAubzuQfVU"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":133,"name":"koslucher_minshall_1973","description":"Food web
        strucutre of a noterhen cool-desert stream (Deep Creek), Curlew Valley, Idaho-Utah","public":true,"created_at":"2019-03-08T19:27:50.152Z","updated_at":"2019-03-08T19:27:50.152Z","ref_id":132,"user_id":4}]'
  recorded_at: 2020-10-25 21:53:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset?ref_id=132&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"110-UEnCe66922wVlxt2arAubzuQfVU"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":133,"name":"koslucher_minshall_1973","description":"Food web
        strucutre of a noterhen cool-desert stream (Deep Creek), Curlew Valley, Idaho-Utah","public":true,"created_at":"2019-03-08T19:27:50.152Z","updated_at":"2019-03-08T19:27:50.152Z","ref_id":132,"user_id":4}]'
  recorded_at: 2020-10-25 21:53:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/network?dataset_id=133&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"15c-bq4uiEL5TUYvj+GU7BqFTghL5Kk"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":1517,"name":"koslucher_minshall_1973","date":"1969-11-01T00:00:00.000Z","geom":null,"description":"Food
        web strucutre of a noterhen cool-desert stream (Deep Creek), Curlew Valley,
        Idaho-Utah","public":true,"all_interactions":false,"created_at":"2019-03-08T19:27:51.061Z","updated_at":"2019-03-08T19:27:51.061Z","dataset_id":133,"user_id":4}]'
  recorded_at: 2020-10-25 21:53:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/network?dataset_id=133&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"15c-bq4uiEL5TUYvj+GU7BqFTghL5Kk"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":1517,"name":"koslucher_minshall_1973","date":"1969-11-01T00:00:00.000Z","geom":null,"description":"Food
        web strucutre of a noterhen cool-desert stream (Deep Creek), Curlew Valley,
        Idaho-Utah","public":true,"all_interactions":false,"created_at":"2019-03-08T19:27:51.061Z","updated_at":"2019-03-08T19:27:51.061Z","dataset_id":133,"user_id":4}]'
  recorded_at: 2020-10-25 21:53:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/reference?jstor=3683041&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"2f7-/C7DI0rrNxBC9ByAIOiY5sj5O0A"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":9,"doi":"10.2307/3683041","first_author":"elberling","year":"1999","jstor":"3683041","pmid":null,"bibtex":"@article{10.2307/3683041,
        ISSN = {09067590, 16000587}, URL = {http://www.jstor.org/stable/3683041},
        author = {Heidi Elberling and Jens M. Olesen}, journal = {Ecography}, number
        = {3}, pages = {314-323}, publisher = {[Nordic Society Oikos, Wiley]}, title
        = {The Structure of a High Latitude Plant-Flower Visitor System: The Dominance
        of Flies}, volume = {22}, year = {1999}}","paper_url":"https://www.jstor.org/stable/3683041?seq=1#page_scan_tab_contents","data_url":"https://www.nceas.ucsb.edu/interactionweb/data/plant_pollinator/excel/elberling&olesen_1999.xls","created_at":"2019-02-22T20:09:13.872Z","updated_at":"2019-02-22T20:09:13.872Z"}]'
  recorded_at: 2020-10-25 21:53:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/reference?jstor=3683041&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"2f7-/C7DI0rrNxBC9ByAIOiY5sj5O0A"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":9,"doi":"10.2307/3683041","first_author":"elberling","year":"1999","jstor":"3683041","pmid":null,"bibtex":"@article{10.2307/3683041,
        ISSN = {09067590, 16000587}, URL = {http://www.jstor.org/stable/3683041},
        author = {Heidi Elberling and Jens M. Olesen}, journal = {Ecography}, number
        = {3}, pages = {314-323}, publisher = {[Nordic Society Oikos, Wiley]}, title
        = {The Structure of a High Latitude Plant-Flower Visitor System: The Dominance
        of Flies}, volume = {22}, year = {1999}}","paper_url":"https://www.jstor.org/stable/3683041?seq=1#page_scan_tab_contents","data_url":"https://www.nceas.ucsb.edu/interactionweb/data/plant_pollinator/excel/elberling&olesen_1999.xls","created_at":"2019-02-22T20:09:13.872Z","updated_at":"2019-02-22T20:09:13.872Z"}]'
  recorded_at: 2020-10-25 21:53:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/network?dataset_id=9&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"16b-R9rM1ihFkn+WgOShGr4Ktky5/2Y"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":909,"name":"elberling_olesen_1999_19940823_909","date":"1994-08-23T00:00:00.000Z","geom":{"type":"Point","coordinates":[18.5,68.35]},"description":"Flower-visiting
        insect at Mt. Latnjatjarro, northern Sweden","public":true,"all_interactions":false,"created_at":"2019-02-24T22:21:32.444Z","updated_at":"2019-02-24T22:21:32.444Z","dataset_id":9,"user_id":2}]'
  recorded_at: 2020-10-25 21:53:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/reference?year=2010&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-4/5
      etag: W/"e5c-EjHW/7FjBdhFaDZDXN8hafGOJrc"
    body:
      encoding: UTF-8
      file: [...]
- request:
    method: get
    uri: https://mangal.io/api/v2/reference?year=2010&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-4/5
      etag: W/"e5c-EjHW/7FjBdhFaDZDXN8hafGOJrc"
    body:
      encoding: UTF-8
     [...]
[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/reference?q=wrong&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/0
      etag: W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    body:
      encoding: UTF-8
      file: no
      string: '[]'
  recorded_at: 2020-10-25 21:53:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/reference?q=wrong&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/0
      etag: W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    body:
      encoding: UTF-8
      file: no
      string: '[]'
  recorded_at: 2020-10-25 21:53:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
