http_interactions:
- request:
    method: get
    uri: https://mangal.io/api/v2/interaction?type=competition&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-11/12
      etag: W/"181b-ivf0wUNZCVBquywn0F7RqBRM7vc"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":97641,"node_from":24343,"node_to":24344,"date":"1973-03-01T00:00:00.000Z","direction":"undirected","type":"competition","method":"field
        observation/experiment","attr_id":25,"value":1,"geom":null,"public":true,"network_id":1477,"created_at":"2019-03-05T15:50:33.839Z","updated_at":"2019-03-05T15:50:33.839Z","attribute":{"id":25,"name":"presence/absence","description":"Presence
        or absence of interaction","unit":null,"created_at":"2019-03-01T16:03:38.993Z","updated_at":"2019-03-01T16:03:38.993Z"}},{"id":97652,"node_from":24352,"node_to":24351,"date":"1973-03-01T00:00:00.000Z","direction":"undirected","type":"competition","method":"field
        observation/experiment","attr_id":25,"value":1,"geom":null,"public":true,"network_id":1478,"created_at":"2019-03-05T15:50:38.469Z","updated_at":"2019-03-05T15:50:38.469Z","attribute":{"id":25,"name":"presence/absence","description":"Presence
        or absence of[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/interaction?type=competition&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-11/12
      etag: W/"181b-ivf0wUNZCVBquywn0F7RqBRM7vc"
    body:
      encoding:[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/node/24343
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1be-MvtsiIosUpjFwnjgfJUz5TrNp3I"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":24343,"original_name":"Balanus balanoides","node_level":"taxon","network_id":1477,"taxonomy_id":5580,"created_at":"2019-03-05T15:50:31.982Z","updated_at":"2019-03-05T15:50:31.982Z","taxonomy":{"id":5580,"name":"Semibalanus
        balanoides","ncbi":94630,"tsn":89687,"eol":336009,"bold":14241,"gbif":2115784,"col":"f9ad62e6d1a8e7f71ccf96ec38629e2c","rank":"species","created_at":"2019-03-01T19:43:03.509Z","updated_at":"2019-06-14T15:26:50.874Z"}}'
  recorded_at: 2020-10-25 21:53:04 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/interaction?network_id=926&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-33/34
      etag: W/"4027-TOvBO00JiVt7rJC1VMsGtXxt30E"
    body:
      encoding: UTF-8
  [...]
- request:
    method: get
    uri: https://mangal.io/api/v2/interaction?network_id=926&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-33/34
      etag: W/"4027-TOvBO00JiVt7rJC1VMsGtXxt30E"
    body:
      encoding: U[...]
[...]
