http_interactions:
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?q=Acer&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-4/5
      etag: W/"4b4-Eonzd+trDHIBJ08pWb/PnEdPmv8"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2,"name":"Acer negundo","ncbi":4023,"tsn":28749,"eol":583069,"bold":100987,"gbif":3189866,"col":"90203e29e2f59e5754167f89b9eba3cc","rank":"species","created_at":"2019-02-21T21:17:12.585Z","updated_at":"2019-06-14T15:20:36.273Z"},{"id":3,"name":"Acer
        saccharinum","ncbi":75745,"tsn":28757,"eol":583072,"bold":101028,"gbif":3189837,"col":"1582ed5db846e241f3e18da418a2a477","rank":"species","created_at":"2019-02-21T21:17:12.637Z","updated_at":"2019-06-14T15:20:36.328Z"},{"id":3117,"name":"Acer
        shirasawanum","ncbi":66216,"tsn":null,"eol":5613162,"bold":485602,"gbif":7263086,"col":"25b4371fbbdc5b1cd43fad895050cc05","rank":"species","created_at":"2019-02-22T00:31:49.729Z","updated_at":"2019-06-14T15:24:56.217Z"},{"id":3144,"name":"Acer
        caudatum","ncbi":290844,"tsn":null,"eol":2888949,"bold":102168,"gbif":7263099,"col":"1211e426bdec174da9a7526348c26fb9","rank":"species","created_at":"2019-02-22T00:31:52.729Z","updated_at":"2019-06-14T15:24:57.854Z"},{"id":3151,"name":"Acer
        japonicum","ncbi":47966,"tsn":837855,"eol":2888970,"bold":448667,"gbif":8010851,"col":"3388e995334d5638aeb11ef84f98b319","rank":"species","created_at":"2019-02-22T00:31:53.328Z","updated_at":"2019-06-14T15:24:58.251Z"}]'
  recorded_at: 2020-10-25 21:53:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?q=Acer&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-4/5
      etag: W/"4b4-Eonzd+trDHIBJ08pWb/PnEdPmv8"
    body:
      encoding: UTF-8
      fil[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/node?taxonomy_id=2&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"1a7-DGG4mn2HffFgmMYdI8LVxU6NTKQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2629,"original_name":"Acer negundo","node_level":"taxon","network_id":19,"taxonomy_id":2,"created_at":"2019-02-22T18:48:49.433Z","updated_at":"2019-02-22T18:48:49.433Z","taxonomy":{"id":2,"name":"Acer
        negundo","ncbi":4023,"tsn":28749,"eol":583069,"bold":100987,"gbif":3189866,"col":"90203e29e2f59e5754167f89b9eba3cc","rank":"species","created_at":"2019-02-21T21:17:12.585Z","updated_at":"2019-06-14T15:20:36.273Z"}}]'
  recorded_at: 2020-10-25 21:53:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/node?taxonomy_id=2&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"1a7-DGG4mn2HffFgmMYdI8LVxU6NTKQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2629,"original_name":"Acer negundo","node_level":"taxon","network_id":19,"taxonomy_id":2,"created_at":"2019-02-22T18:48:49.433Z","updated_at":"2019-02-22T18:48:49.433Z","taxonomy":{"id":2,"name":"Acer
        negundo","ncbi":4023,"tsn":28749,"eol":583069,"bold":100987,"gbif":3189866,"col":"90203e29e2f59e5754167f89b9eba3cc","rank":"species","created_at":"2019-02-21T21:17:12.585Z","updated_at":"2019-06-14T15:20:36.273Z"}}]'
  recorded_at: 2020-10-25 21:53:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?q=Acer%20japonicum&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"f4-zLSYj9wvXLD+gztYDWN693Bliig"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":3151,"name":"Acer japonicum","ncbi":47966,"tsn":837855,"eol":2888970,"bold":448667,"gbif":8010851,"col":"3388e995334d5638aeb11ef84f98b319","rank":"species","created_at":"2019-02-22T00:31:53.328Z","updated_at":"2019-06-14T15:24:58.251Z"}]'
  recorded_at: 2020-10-25 21:53:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?q=Acer%20japonicum&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"f4-zLSYj9wvXLD+gztYDWN693Bliig"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":3151,"name":"Acer japonicum","ncbi":47966,"tsn":837855,"eol":2888970,"bold":448667,"gbif":8010851,"col":"3388e995334d5638aeb11ef84f98b319","rank":"species","created_at":"2019-02-22T00:31:53.328Z","updated_at":"2019-06-14T15:24:58.251Z"}]'
  recorded_at: 2020-10-25 21:53:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?tsn=28749&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"ec-e1KnaeqfecilndCu/vMmLlhDLrQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2,"name":"Acer negundo","ncbi":4023,"tsn":28749,"eol":583069,"bold":100987,"gbif":3189866,"col":"90203e29e2f59e5754167f89b9eba3cc","rank":"species","created_at":"2019-02-21T21:17:12.585Z","updated_at":"2019-06-14T15:20:36.273Z"}]'
  recorded_at: 2020-10-25 21:53:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?tsn=28749&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"ec-e1KnaeqfecilndCu/vMmLlhDLrQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2,"name":"Acer negundo","ncbi":4023,"tsn":28749,"eol":583069,"bold":100987,"gbif":3189866,"col":"90203e29e2f59e5754167f89b9eba3cc","rank":"species","created_at":"2019-02-21T21:17:12.585Z","updated_at":"2019-06-14T15:20:36.273Z"}]'
  recorded_at: 2020-10-25 21:53:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?ncbi=47966&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"f4-zLSYj9wvXLD+gztYDWN693Bliig"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":3151,"name":"Acer japonicum","ncbi":47966,"tsn":837855,"eol":2888970,"bold":448667,"gbif":8010851,"col":"3388e995334d5638aeb11ef84f98b319","rank":"species","created_at":"2019-02-22T00:31:53.328Z","updated_at":"2019-06-14T15:24:58.251Z"}]'
  recorded_at: 2020-10-25 21:53:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?ncbi=47966&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"f4-zLSYj9wvXLD+gztYDWN693Bliig"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":3151,"name":"Acer japonicum","ncbi":47966,"tsn":837855,"eol":2888970,"bold":448667,"gbif":8010851,"col":"3388e995334d5638aeb11ef84f98b319","rank":"species","created_at":"2019-02-22T00:31:53.328Z","updated_at":"2019-06-14T15:24:58.251Z"}]'
  recorded_at: 2020-10-25 21:53:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?eol=583069&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"ec-e1KnaeqfecilndCu/vMmLlhDLrQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2,"name":"Acer negundo","ncbi":4023,"tsn":28749,"eol":583069,"bold":100987,"gbif":3189866,"col":"90203e29e2f59e5754167f89b9eba3cc","rank":"species","created_at":"2019-02-21T21:17:12.585Z","updated_at":"2019-06-14T15:20:36.273Z"}]'
  recorded_at: 2020-10-25 21:53:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?eol=583069&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"ec-e1KnaeqfecilndCu/vMmLlhDLrQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2,"name":"Acer negundo","ncbi":4023,"tsn":28749,"eol":583069,"bold":100987,"gbif":3189866,"col":"90203e29e2f59e5754167f89b9eba3cc","rank":"species","created_at":"2019-02-21T21:17:12.585Z","updated_at":"2019-06-14T15:20:36.273Z"}]'
  recorded_at: 2020-10-25 21:53:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?bold=100987&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"ec-e1KnaeqfecilndCu/vMmLlhDLrQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2,"name":"Acer negundo","ncbi":4023,"tsn":28749,"eol":583069,"bold":100987,"gbif":3189866,"col":"90203e29e2f59e5754167f89b9eba3cc","rank":"species","created_at":"2019-02-21T21:17:12.585Z","updated_at":"2019-06-14T15:20:36.273Z"}]'
  recorded_at: 2020-10-25 21:53:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?bold=100987&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"ec-e1KnaeqfecilndCu/vMmLlhDLrQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2,"name":"Acer negundo","ncbi":4023,"tsn":28749,"eol":583069,"bold":100987,"gbif":3189866,"col":"90203e29e2f59e5754167f89b9eba3cc","rank":"species","created_at":"2019-02-21T21:17:12.585Z","updated_at":"2019-06-14T15:20:36.273Z"}]'
  recorded_at: 2020-10-25 21:53:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?q=Does%20not%20work&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/0
      etag: W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    body:
      encoding: UTF-8
      file: no
      string: '[]'
  recorded_at: 2020-10-25 21:53:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?q=Does%20not%20work&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/0
      etag: W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    body:
      encoding: UTF-8
      file: no
      string: '[]'
  recorded_at: 2020-10-25 21:53:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/network/948
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1be-jQwpSb8CVCwfbRZncpHkujiXlv4"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":948,"name":"kato_1993_19910901_948","date":"1991-09-01T00:00:00.000Z","geom":{"type":"Point","coordinates":[138.3833,35.5833]},"description":"Flower
        and anthophilous insect interactions in the primary cool-temperate subalpine
        forests and meadows at Mt. Kushigata, Yamanashi Prefecture, Japan","public":true,"all_interactions":false,"created_at":"2019-02-25T20:52:09.499Z","updated_at":"2019-02-25T20:52:09.499Z","dataset_id":66,"user_id":2}'
  recorded_at: 2020-10-25 21:53:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/node?network_id=948&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-99/456
      etag: W/"9789-wWA/5MZsSCHCM9iWst7bnM3yJeA"
    body:
      encoding: UTF-8
      fi[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/node?network_id=948&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-99/456
      etag: W/"9789-wWA/5MZsSCHCM9iWst7bnM3yJeA"
    body:
      encoding: UTF-8
 [...]
[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/interaction?network_id=948&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-99/871
      etag: W/"d9a7-9ykiuaMle+3MUKGZlKkOvPJBLco"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":58624,"node_from":8667,"node_to":8841,"date":"1991-09-01T00:00:00.000Z","direction":"directed","type":"mutualism","method":"field
        observations/captures","attr_id":11,"value":1,"geom":null,"public":true,"network_id":948,"created_at":"2019-02-25T20:55:17.061Z","updated_at":"2019-02-25T20:55:17.061Z","attribute":{"id":11,"name":"number
        of visit by a pollinator","description":"Number of individual of a species
        observed/caught on a flower","unit":"number of individual","created_at":"2019-02-22T20:03:38.132Z","updated_at":"2019-02-22T20:03:38.132Z"}},{"id":58626,"node_from":8669,"node_to":8900,"date":"1991-09-01T00:00:00.000Z","direction":"directed","type":"mutualism","method":"field
        observations/captures","attr_id":11,"value":1,"geom":null,"public":true,"network_id":948,"created_at":"2019-02-25T20:55:17.164Z","updated_at":"2019-02-25T20:55:17.164Z","attribute":{"id":11,"name":"number
        of visit by a pollinator","description[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/interaction?network_id=948&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-99/871
      etag: W/"d9a8-p88DB10/kAFVmbT2zxA68d3LnzU"
    body:
      encoding: [...]
[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset/66
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"138-hRXeguAu9Q3XWesYXzDzB0vLg8c"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":66,"name":"kato_1993","description":"Flower and anthophilous
        insect interactions in the primary cool-temperate subalpine forests and meadows
        at Mt. Kushigata, Yamanashi Prefecture, Japan","public":true,"created_at":"2019-02-25T19:40:04.448Z","updated_at":"2019-02-25T19:40:04.448Z","ref_id":65,"user_id":2}'
  recorded_at: 2020-10-25 21:53:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/reference/65
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"14a-RInYdHsYXCuGYQ5KlzzW3Rg4YkA"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":65,"doi":null,"first_author":"kato","year":"1993","jstor":null,"pmid":null,"bibtex":null,"paper_url":"https://repository.kulib.kyoto-u.ac.jp/dspace/bitstream/2433/156107/1/cbl02802_119.pdf","data_url":"http://www.web-of-life.es/map.php?type=5","created_at":"2019-02-25T19:40:01.912Z","updated_at":"2019-02-25T19:40:01.912Z"}'
  recorded_at: 2020-10-25 21:53:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
