http_interactions:
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset?name=kemp_1977&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"cb-vQYWqEcyECr41tyqY2c5fp0xX5I"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":16,"name":"kemp_1977","description":"Food web for the Crystal
        River estuary","public":true,"created_at":"2019-02-23T03:02:31.697Z","updated_at":"2019-02-23T03:02:31.697Z","ref_id":16,"user_id":3}]'
  recorded_at: 2022-05-01 15:17:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset?name=kemp_1977&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"cb-vQYWqEcyECr41tyqY2c5fp0xX5I"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":16,"name":"kemp_1977","description":"Food web for the Crystal
        River estuary","public":true,"created_at":"2019-02-23T03:02:31.697Z","updated_at":"2019-02-23T03:02:31.697Z","ref_id":16,"user_id":3}]'
  recorded_at: 2022-05-01 15:17:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/network?dataset_id=16&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"153-mxE9Ui2jZUM+uCrqGGsrMon8l8I"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":80,"name":"kemp_1977_19770101_80","date":"1977-01-01T00:00:00.000Z","geom":{"type":"Point","coordinates":[-82.685704,28.846405]},"description":"Food
        web for the Crystal River estuary","public":true,"all_interactions":false,"created_at":"2019-02-23T03:03:04.151Z","updated_at":"2019-02-23T03:03:04.151Z","dataset_id":16,"user_id":3}]'
  recorded_at: 2022-05-01 15:17:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/network?dataset_id=16&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"153-mxE9Ui2jZUM+uCrqGGsrMon8l8I"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":80,"name":"kemp_1977_19770101_80","date":"1977-01-01T00:00:00.000Z","geom":{"type":"Point","coordinates":[-82.685704,28.846405]},"description":"Food
        web for the Crystal River estuary","public":true,"all_interactions":false,"created_at":"2019-02-23T03:03:04.151Z","updated_at":"2019-02-23T03:03:04.151Z","dataset_id":16,"user_id":3}]'
  recorded_at: 2022-05-01 15:17:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/reference/16
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"271-5f9iWfJMK6rdLPlElnJjfpFDnRU"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":16,"doi":null,"first_author":"w. m. kemp","year":"1977","jstor":null,"pmid":null,"bibtex":"@inbook{kemp_1977,
        place={New York}, title={Energy cost-benefit analysis applied to power plants
        near Crystal River, Florida}, booktitle={Ecosystem Modeling in Theory and
        Practice: An Introduction with Case Histories}, publisher={Wiley}, author={Kemp,
        W. M. and Smith, W. H. B. and McKellar, H. N. and Lehman, M. E. and Homer,
        M. and Young, D. L. and Odum, H. T.}, pages={507–543, p. 512}}","paper_url":null,"data_url":"https://globalwebdb.com/","created_at":"2019-02-23T03:01:41.925Z","updated_at":"2019-02-23T03:01:41.925Z"}'
  recorded_at: 2022-05-01 15:17:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
