http_interactions:
- request:
    method: get
    uri: https://mangal.io/api/v2/node?q=Acer&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-4/5
      etag: W/"877-9C9A7eWba0+5/zfrW2jPwfNIvNE"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2629,"original_name":"Acer negundo","node_level":"taxon","network_id":19,"taxonomy_id":2,"created_at":"2019-02-22T18:48:49.433Z","updated_at":"2019-02-22T18:48:49.433Z","taxonomy":{"id":2,"name":"Acer
        negundo","ncbi":4023,"tsn":28749,"eol":583069,"bold":100987,"gbif":3189866,"col":"90203e29e2f59e5754167f89b9eba3cc","rank":"species","created_at":"2019-02-21T21:17:12.585Z","updated_at":"2019-06-14T15:20:36.273Z"}},{"id":2630,"original_name":"Acer
        saccharinum","node_level":"taxon","network_id":19,"taxonomy_id":3,"created_at":"2019-02-22T18:48:49.465Z","updated_at":"2019-02-22T18:48:49.465Z","taxonomy":{"id":3,"name":"Acer
        saccharinum","ncbi":75745,"tsn":28757,"eol":583072,"bold":101028,"gbif":3189837,"col":"1582ed5db846e241f3e18da418a2a477","rank":"species","created_at":"2019-02-21T21:17:12.637Z","up[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/node?q=Acer&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-4/5
      etag: W/"877-9C9A7eWba0+5/zfrW2jPwfNIvNE"
    body:
      encoding: UTF-8
      file: n[...]
