http_interactions:
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset?q=lagoon&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-1/2
      etag: W/"19c-5bS/yNG9a7JHOK33TQApozEiK2U"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":22,"name":"zetina_2003","description":"Dietary matrix of the
        Huizache–Caimanero lagoon","public":true,"created_at":"2019-02-23T17:04:32.017Z","updated_at":"2019-02-23T17:04:32.017Z","ref_id":22,"user_id":3},{"id":52,"name":"yanez_1978","description":"Food
        web of the Guerrero lagoon","public":true,"created_at":"2019-02-24T23:42:52.062Z","updated_at":"2019-02-24T23:42:52.062Z","ref_id":53,"user_id":3}]'
  recorded_at: 2022-05-01 15:17:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset?q=lagoon&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-1/2
      etag: W/"19c-5bS/yNG9a7JHOK33TQApozEiK2U"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":22,"name":"zetina_2003","description":"Dietary matrix of the
        Huizache–Caimanero lagoon","public":true,"created_at":"2019-02-23T17:04:32.017Z","updated_at":"2019-02-23T17:04:32.017Z","ref_id":22,"user_id":3},{"id":52,"name":"yanez_1978","description":"Food
        web of the Guerrero lagoon","public":true,"created_at":"2019-02-24T23:42:52.062Z","updated_at":"2019-02-24T23:42:52.062Z","ref_id":53,"user_id":3}]'
  recorded_at: 2022-05-01 15:17:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/network?dataset_id=22&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"160-O3poC6y0lUse0AZblvCsovy1JhY"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":86,"name":"zetina_2003_20030101_86","date":"2003-01-01T00:00:00.000Z","geom":{"type":"Point","coordinates":[-106.10993,22.985307]},"description":"Dietary
        matrix of the Huizache–Caimanero lagoon","public":true,"all_interactions":false,"created_at":"2019-02-23T17:04:34.046Z","updated_at":"2019-02-23T17:04:34.046Z","dataset_id":22,"user_id":3}]'
  recorded_at: 2022-05-01 15:17:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/network?dataset_id=22&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"160-O3poC6y0lUse0AZblvCsovy1JhY"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":86,"name":"zetina_2003_20030101_86","date":"2003-01-01T00:00:00.000Z","geom":{"type":"Point","coordinates":[-106.10993,22.985307]},"description":"Dietary
        matrix of the Huizache–Caimanero lagoon","public":true,"all_interactions":false,"created_at":"2019-02-23T17:04:34.046Z","updated_at":"2019-02-23T17:04:34.046Z","dataset_id":22,"user_id":3}]'
  recorded_at: 2022-05-01 15:17:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/reference/22
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"33e-b0urjHsEEKcA+SzAR+lesboTp0A"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":22,"doi":"10.1016/s0272-7714(02)00410-9","first_author":"manuel
        j. zetina-rejon","year":"2003","jstor":null,"pmid":null,"bibtex":"@article{Zetina_Rej_n_2003,
        doi = {10.1016/s0272-7714(02)00410-9}, url = {https://doi.org/10.1016%2Fs0272-7714%2802%2900410-9},
        year = 2003, month = {aug}, publisher = {Elsevier {BV}}, volume = {57}, number
        = {5-6}, pages = {803--815}, author = {Manuel J. Zetina-Rejón and Francisco
        Arreguí-Sánchez and Ernesto A. Chávez}, title = {Trophic structure and flows
        of energy in the Huizache{\textendash}Caimanero lagoon complex on the Pacific
        coast of Mexico},journal = {Estuarine, Coastal and Shelf Science}}","paper_url":"https://doi.org/10.1016%2Fs0272-7714%2802%2900410-9","data_url":"https://globalwebdb.com/","created_at":"2019-02-23T17:04:28.307Z","updated_at":"2019-02-23T17:04:28.307Z"}'
  recorded_at: 2022-05-01 15:17:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/network/86
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"15e-2vU5OV+FdtaW62O/vofOSY87WWc"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":86,"name":"zetina_2003_20030101_86","date":"2003-01-01T00:00:00.000Z","geom":{"type":"Point","coordinates":[-106.10993,22.985307]},"description":"Dietary
        matrix of the Huizache–Caimanero lagoon","public":true,"all_interactions":false,"created_at":"2019-02-23T17:04:34.046Z","updated_at":"2019-02-23T17:04:34.046Z","dataset_id":22,"user_id":3}'
  recorded_at: 2022-05-01 15:17:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/node?network_id=86&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-25/26
      etag: W/"26c2-kNcNlqrW3pQEhDIRY/6KGx7zywQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":4904,"original_name":"Scianids","node_level":"taxon","network_id":86,"taxonomy_id":4363,"created_at":"2019-02-23T17:04:42.505Z","updated_at":"2019-02-23T17:04:42.505Z","taxonomy":{"id":4363,"name":"Sciaenidae","ncbi":30870,"tsn":169237,"eol":5211,"bold":1856,"gbif":null,"col":"81a86c329909d507edb5c296906ef3f4","rank":"family","created_at":"2019-02-23T17:04:35.620Z","updated_at":"2019-06-14T15:25:46.438Z"}},{"id":4905,"original_name":"Elopids","node_level":"taxon","network_id":86,"taxonomy_id":4364,"created_at":"2019-02-23T17:04:42.571Z","updated_at":"2019-02-23T17:04:42.571Z","taxonomy":{"id":4364,"name":"Elops","ncbi":7927,"tsn":28630,"eol":46561210,"bold":4061,"gbif":null,"col":"94532a14786adeb25bcec244a53aadc1","rank":"genus","created_at":"2019-02-23T17:04:35.744Z","updated_at":"2019-06-14T15:25:46.492Z"}[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/node?network_id=86&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-25/26
      etag: W/"26c2-kNcNlqrW3pQEhDIRY/6KGx7zywQ"
    body:
      encoding: UTF-8
   [...]
- request:
    method: get
    uri: https://mangal.io/api/v2/interaction?network_id=86&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-99/189
      etag: W/"c08a-XHo8KV7uTJbobaZHLfUhLaVp+ZE"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":48376,"node_from":4912,"node_to":4912,"date":"2003-01-01T00:00:00.000Z","direction":"directed","type":"predation","method":null,"attr_id":12,"value":0.026,"geom":null,"public":true,"network_id":86,"created_at":"2019-02-23T17:05:45.061Z","updated_at":"2019-02-23T17:05:45.061Z","attribute":{"id":12,"name":"dietary
        matrix","description":"Proportions of the consumer diets made up by the prey.","unit":null,"created_at":"2019-02-23T17:04:25.350Z","updated_at":"2019-02-23T17:04:25.350Z"}},{"id":48377,"node_from":4912,"node_to":4914,"date":"2003-01-01T00:00:00.000Z","direction":"directed","type":"predation","method":null,"attr_id":12,"value":0.025,"geom":null,"public":true,"network_id":86,"created_at":"2019-02-23T17:05:45.131Z","updated_at":"2019-02-23T17:05:45.131Z","attribute":{"id":12,"name":"dietary
        matrix","description":"Proportions of the consumer diets made up by the prey.","unit"[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/interaction?network_id=86&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-99/189
      etag: W/"c08a-XHo8KV7uTJbobaZHLfUhLaVp+ZE"
    body:
      encoding: U[...]
[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset/22
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d6-MytJboYyycz4Ls1yJuhv5sFnxfY"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":22,"name":"zetina_2003","description":"Dietary matrix of the
        Huizache–Caimanero lagoon","public":true,"created_at":"2019-02-23T17:04:32.017Z","updated_at":"2019-02-23T17:04:32.017Z","ref_id":22,"user_id":3}'
  recorded_at: 2022-05-01 15:17:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
