http_interactions:
- request:
    method: get
    uri: https://mangal.io/api/v2/interaction?type=competition&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-11/12
      etag: W/"2043-y74WQtatLQfvvDvTeX1bPn+lWs4"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":97679,"node_from":24357,"node_to":24358,"date":"1973-03-01T00:00:00.000Z","direction":"undirected","type":"competition","method":"field
        observation/experiment","attr_id":1,"value":1,"geom":null,"public":true,"network_id":1479,"created_at":"2019-03-05T15:50:47.266Z","updated_at":"2021-11-02T19:43:54.143Z","attribute":{"id":1,"name":"presence/absence","description":"Presence
        or absence of an interaction; this is a unitless measurement that should be
        used as the default attribute when no further information is known. Paired
        wtih a value of 0, it can represent a true absence","unit":null,"created_at":"2019-02-21T21:17:01.496Z","updated_at":"2021-11-02T20:32:33.821Z"}},{"id":100173,"node_from":25149,"node_to":25149,"date":"1976-02-01T00:00:00.000Z","direction":"undirected","type":"competition","method":"field
        observation/experiment","attr_id":1,"value":1,"geom":null,"public":true,"network_id":1502,"created_at":"2019-03-06T21:41:55.180Z","updated_at":"2021-11-02T19:53:36.096Z","attribute":{"id":1,"name":"presence/absence","description":"Presence
        or absence of [...]
- request:
    method: get
    uri: https://mangal.io/api/v2/interaction?type=competition&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-11/12
      etag: W/"2043-y74WQtatLQfvvDvTeX1bPn+lWs4"
    body:
      encoding:[...]
