http_interactions:
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?q=Azorina%20vidalii&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"f4-s3YQAqK9gS68v6rum6656OcZMyQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2607,"name":"Azorina vidalii","ncbi":239395,"tsn":null,"eol":5135848,"bold":420018,"gbif":3166266,"col":"43ff5a4aa836f02c34a28ccff9c238bb","rank":"species","created_at":"2019-02-22T00:24:20.886Z","updated_at":"2019-06-14T15:22:21.875Z"}]'
  recorded_at: 2021-11-08 23:51:51 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?q=Azorina%20vidalii&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"f4-s3YQAqK9gS68v6rum6656OcZMyQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2607,"name":"Azorina vidalii","ncbi":239395,"tsn":null,"eol":5135848,"bold":420018,"gbif":3166266,"col":"43ff5a4aa836f02c34a28ccff9c238bb","rank":"species","created_at":"2019-02-22T00:24:20.886Z","updated_at":"2019-06-14T15:22:21.875Z"}]'
  recorded_at: 2021-11-08 23:51:51 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/node?taxonomy_id=2607&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"1b6-gY3PwgEg3mdfGbvjoA9q08HgNEw"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":6674,"original_name":"Azorina vidalii","node_level":"taxon","network_id":935,"taxonomy_id":2607,"created_at":"2019-02-25T16:29:22.867Z","updated_at":"2019-02-25T16:29:22.867Z","taxonomy":{"id":2607,"name":"Azorina
        vidalii","ncbi":239395,"tsn":null,"eol":5135848,"bold":420018,"gbif":3166266,"col":"43ff5a4aa836f02c34a28ccff9c238bb","rank":"species","created_at":"2019-02-22T00:24:20.886Z","updated_at":"2019-06-14T15:22:21.875Z"}}]'
  recorded_at: 2021-11-08 23:51:51 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/node?taxonomy_id=2607&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"1b6-gY3PwgEg3mdfGbvjoA9q08HgNEw"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":6674,"original_name":"Azorina vidalii","node_level":"taxon","network_id":935,"taxonomy_id":2607,"created_at":"2019-02-25T16:29:22.867Z","updated_at":"2019-02-25T16:29:22.867Z","taxonomy":{"id":2607,"name":"Azorina
        vidalii","ncbi":239395,"tsn":null,"eol":5135848,"bold":420018,"gbif":3166266,"col":"43ff5a4aa836f02c34a28ccff9c238bb","rank":"species","created_at":"2019-02-22T00:24:20.886Z","updated_at":"2019-06-14T15:22:21.875Z"}}]'
  recorded_at: 2021-11-08 23:51:51 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/network/935
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"163-afgxkfE+wh05swgAmEHZEKK+R+o"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":935,"name":"olesen_al_2002_20000701_935","date":"2000-07-01T00:00:00.000Z","geom":{"type":"Point","coordinates":[-31.193594,39.444798]},"description":"Pollination
        networks of the Azorean Flores island","public":true,"all_interactions":false,"created_at":"2019-02-25T16:29:16.271Z","updated_at":"2019-02-25T16:29:16.271Z","dataset_id":62,"user_id":2}'
  recorded_at: 2021-11-08 23:51:51 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/node?network_id=935&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-21/22
      etag: W/"224e-r/rtzhOOUSKy/M5+7bnvZkti7Ys"
    body:
      encoding: UTF-8
      fil[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/node?network_id=935&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-21/22
      etag: W/"224e-r/rtzhOOUSKy/M5+7bnvZkti7Ys"
    body:
      encoding: UTF-8
  [...]
- request:
    method: get
    uri: https://mangal.io/api/v2/interaction?network_id=935&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-29/30
      etag: W/"4070-oSC3/igBxSwKghbvh+xMvEmC36U"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":55518,"node_from":6684,"node_to":6674,"date":"2000-07-01T00:00:00.000Z","direction":"directed","type":"mutualism","method":"field
        observations","attr_id":11,"value":98,"geom":null,"public":false,"network_id":935,"created_at":"2019-02-25T16:29:39.047Z","updated_at":"2019-02-25T16:29:39.047Z","attribute":{"id":11,"name":"number
        of visit by a pollinator","description":"Number of individual of a species
        observed/caught on a flower","unit":"number of individual","created_at":"2019-02-22T20:03:38.132Z","updated_at":"2019-02-22T20:03:38.132Z"}},{"id":55519,"node_from":6685,"node_to":6674,"date":"2000-07-01T00:00:00.000Z","direction":"directed","type":"mutualism","method":"field
        observations","attr_id":11,"value":51,"geom":null,"public":false,"network_id":935,"created_at":"2019-02-25T16:29:39.095Z","updated_at":"2019-02-25T16:29:39.095Z","attribute":{"id":11,"name":"number
        of visit by a pollinator","description":"Numb[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/interaction?network_id=935&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-29/30
      etag: W/"4070-oSC3/igBxSwKghbvh+xMvEmC36U"
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset/62
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"10c-gERSsxhJGo8pOD+Z0EdsJPd4NVk"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":62,"name":"olesen_al_2002","description":"Pollination networks
        for two oceanic islands, the Azorean Flores and the Mauritian Ile aux Aigrettes","public":true,"created_at":"2019-02-25T16:27:42.376Z","updated_at":"2019-02-25T16:27:42.376Z","ref_id":61,"user_id":2}'
  recorded_at: 2021-11-08 23:51:51 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/reference/61
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"34f-YMY8vU0IHik3ioXST3JC042Gmfk"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":61,"doi":"10.1046/j.1472-4642.2002.00148.x","first_author":"olesen","year":"2002","jstor":null,"pmid":null,"bibtex":"@article{Olesen_2002,
        doi = {10.1046/j.1472-4642.2002.00148.x}, url = {https://doi.org/10.1046%2Fj.1472-4642.2002.00148.x},
        year = 2002, month = {may}, publisher = {Wiley-Blackwell}, volume = {8}, number
        = {3}, pages = {181--192}, author = {Jens M. Olesen and Louise I. Eskildsen
        and Shadila Venkatasamy}, title = {Invasion of pollination networks on oceanic
        islands: importance of invader complexes and endemic super generalists}, journal
        = {Diversity and Distributions}}","paper_url":"https://onlinelibrary.wiley.com/doi/abs/10.1046/j.1472-4642.2002.00148.x","data_url":"https://www.nceas.ucsb.edu/interactionweb/html/olesen_et_al_2002.html","created_at":"2019-02-25T16:27:37.231Z","updated_at":"2019-02-25T16:27:37.231Z"}'
  recorded_at: 2021-11-08 23:51:51 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
