http_interactions:
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset?q=lagoon&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-1/2
      etag: W/"19c-5bS/yNG9a7JHOK33TQApozEiK2U"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":22,"name":"zetina_2003","description":"Dietary matrix of the
        Huizache–Caimanero lagoon","public":true,"created_at":"2019-02-23T17:04:32.017Z","updated_at":"2019-02-23T17:04:32.017Z","ref_id":22,"user_id":3},{"id":52,"name":"yanez_1978","description":"Food
        web of the Guerrero lagoon","public":true,"created_at":"2019-02-24T23:42:52.062Z","updated_at":"2019-02-24T23:42:52.062Z","ref_id":53,"user_id":3}]'
  recorded_at: 2020-10-25 21:52:58 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset?q=lagoon&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-1/2
      etag: W/"19c-5bS/yNG9a7JHOK33TQApozEiK2U"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":22,"name":"zetina_2003","description":"Dietary matrix of the
        Huizache–Caimanero lagoon","public":true,"created_at":"2019-02-23T17:04:32.017Z","updated_at":"2019-02-23T17:04:32.017Z","ref_id":22,"user_id":3},{"id":52,"name":"yanez_1978","description":"Food
        web of the Guerrero lagoon","public":true,"created_at":"2019-02-24T23:42:52.062Z","updated_at":"2019-02-24T23:42:52.062Z","ref_id":53,"user_id":3}]'
  recorded_at: 2020-10-25 21:52:58 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/network?dataset_id=22&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"160-O3poC6y0lUse0AZblvCsovy1JhY"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":86,"name":"zetina_2003_20030101_86","date":"2003-01-01T00:00:00.000Z","geom":{"type":"Point","coordinates":[-106.10993,22.985307]},"description":"Dietary
        matrix of the Huizache–Caimanero lagoon","public":true,"all_interactions":false,"created_at":"2019-02-23T17:04:34.046Z","updated_at":"2019-02-23T17:04:34.046Z","dataset_id":22,"user_id":3}]'
  recorded_at: 2020-10-25 21:52:58 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/network?dataset_id=22&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"160-O3poC6y0lUse0AZblvCsovy1JhY"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":86,"name":"zetina_2003_20030101_86","date":"2003-01-01T00:00:00.000Z","geom":{"type":"Point","coordinates":[-106.10993,22.985307]},"description":"Dietary
        matrix of the Huizache–Caimanero lagoon","public":true,"all_interactions":false,"created_at":"2019-02-23T17:04:34.046Z","updated_at":"2019-02-23T17:04:34.046Z","dataset_id":22,"user_id":3}]'
  recorded_at: 2020-10-25 21:52:58 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/reference/22
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"33e-b0urjHsEEKcA+SzAR+lesboTp0A"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":22,"doi":"10.1016/s0272-7714(02)00410-9","first_author":"manuel
        j. zetina-rejon","year":"2003","jstor":null,"pmid":null,"bibtex":"@article{Zetina_Rej_n_2003,
        doi = {10.1016/s0272-7714(02)00410-9}, url = {https://doi.org/10.1016%2Fs0272-7714%2802%2900410-9},
        year = 2003, month = {aug}, publisher = {Elsevier {BV}}, volume = {57}, number
        = {5-6}, pages = {803--815}, author = {Manuel J. Zetina-Rejón and Francisco
        Arreguí-Sánchez and Ernesto A. Chávez}, title = {Trophic structure and flows
        of energy in the Huizache{\textendash}Caimanero lagoon complex on the Pacific
        coast of Mexico},journal = {Estuarine, Coastal and Shelf Science}}","paper_url":"https://doi.org/10.1016%2Fs0272-7714%2802%2900410-9","data_url":"https://globalwebdb.com/","created_at":"2019-02-23T17:04:28.307Z","updated_at":"2019-02-23T17:04:28.307Z"}'
  recorded_at: 2020-10-25 21:52:58 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset?name=kemp_1977&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"cb-vQYWqEcyECr41tyqY2c5fp0xX5I"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":16,"name":"kemp_1977","description":"Food web for the Crystal
        River estuary","public":true,"created_at":"2019-02-23T03:02:31.697Z","updated_at":"2019-02-23T03:02:31.697Z","ref_id":16,"user_id":3}]'
  recorded_at: 2020-10-25 21:52:58 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset?name=kemp_1977&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"cb-vQYWqEcyECr41tyqY2c5fp0xX5I"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":16,"name":"kemp_1977","description":"Food web for the Crystal
        River estuary","public":true,"created_at":"2019-02-23T03:02:31.697Z","updated_at":"2019-02-23T03:02:31.697Z","ref_id":16,"user_id":3}]'
  recorded_at: 2020-10-25 21:52:58 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/reference/16
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"271-5f9iWfJMK6rdLPlElnJjfpFDnRU"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":16,"doi":null,"first_author":"w. m. kemp","year":"1977","jstor":null,"pmid":null,"bibtex":"@inbook{kemp_1977,
        place={New York}, title={Energy cost-benefit analysis applied to power plants
        near Crystal River, Florida}, booktitle={Ecosystem Modeling in Theory and
        Practice: An Introduction with Case Histories}, publisher={Wiley}, author={Kemp,
        W. M. and Smith, W. H. B. and McKellar, H. N. and Lehman, M. E. and Homer,
        M. and Young, D. L. and Odum, H. T.}, pages={507–543, p. 512}}","paper_url":null,"data_url":"https://globalwebdb.com/","created_at":"2019-02-23T03:01:41.925Z","updated_at":"2019-02-23T03:01:41.925Z"}'
  recorded_at: 2020-10-25 21:52:58 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset?q=2011&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-8/9
      etag: W/"845-C1xB8C2dDDYCIOWwIKxRu3FM9Io"
    body:
      encoding: UTF-8
      file: no
  [...]
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset?q=2011&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-8/9
      etag: W/"845-C1xB8C2dDDYCIOWwIKxRu3FM9Io"
    body:
      encoding: UTF-8
      file[...]
[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset?q=does%20not%20exist&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/0
      etag: W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    body:
      encoding: UTF-8
      file: no
      string: '[]'
  recorded_at: 2020-10-25 21:52:58 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://mangal.io/api/v2/dataset?q=does%20not%20exist&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/0
      etag: W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    body:
      encoding: UTF-8
      file: no
      string: '[]'
  recorded_at: 2020-10-25 21:52:58 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
