http_interactions:
- request:
    method: get
    uri: https://mangal.io/api/v2/network?count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-99/1487
      etag: W/"912a-xigr9+Kal0O6kCNF5F5mTzeNZtw"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":19,"name":"roberson_1929_18990701_19","date":"1899-07-01T00:00:00.000Z","geom":{"type":"Point","coordinates":[-89.8818,39.2798]},"description":"Insects
        observed pollinating flowers, ten miles of Carlinville, Illinois, USA","public":true,"all_interactions":false,"created_at":"2019-02-22T18:47:30.657Z","updated_at":"2019-02-22T18:47:30.657Z","dataset_id":1,"user_id":3},{"id":12,"name":"howking_1968_19680601_12","date":"1968-06-01T00:00:00.000Z","geom":{"type":"Point","coordinates":[-71.3,81.8166667]},"description":"Insect
        activity recorded on flower at Lake Hazen, Ellesmere Island, N.W.T., Canada","public":true,"all_interactions":false,"created_at":"2019-02-22T18:21:58.543Z","updated_at":"2019-02-22T18:21:58.543Z","dataset_id":2,"user_id":2},{"id":13,"name":"witt_1998_19980101_13","date":"1998-01-01T00:00:00.000Z","geom":{"type":"Point","coordinates[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/network?count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-99/1487
      etag: W/"912a-xigr9+Kal0O6kCNF5F5mTzeNZtw"
    body:
      encoding: UTF-8
      file: [...]
[...]
