http_interactions:
- request:
    method: get
    uri: https://mangal.io/api/v2/node?network_id=926&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-12/13
      etag: W/"101f-016ok97Ro+i0tfZV/xRnyNU0ZHc"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":6445,"original_name":"mollusks","node_level":"taxon","network_id":926,"taxonomy_id":4336,"created_at":"2019-02-25T15:09:24.587Z","updated_at":"2019-02-25T15:09:24.587Z","taxonomy":{"id":4336,"name":"Mollusca","ncbi":6447,"tsn":69458,"eol":2195,"bold":23,"gbif":null,"col":"70a72224d52b24f5ee0b1d09387d1703","rank":"phylum","created_at":"2019-02-23T14:59:23.089Z","updated_at":"2019-06-14T15:25:44.735Z"}},{"id":6447,"original_name":"insects","node_level":"taxon","network_id":926,"taxonomy_id":4650,"created_at":"2019-02-25T15:09:24.658Z","updated_at":"2019-02-25T15:09:24.658Z","taxonomy":{"id":4650,"name":"Insecta","ncbi":50557,"tsn":4703,"eol":344,"bold":82,"gbif":null,"col":"ae304a1e0beadcfec04932589049bb5a","rank":"class","created_at":"2019-02-24T18:56:42.545Z","updated_at":"2019-06-14T15:25:59.300Z"}},{"[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/node?network_id=926&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-12/13
      etag: W/"101f-016ok97Ro+i0tfZV/xRnyNU0ZHc"
    body:
      encoding: UTF-8
  [...]
