http_interactions:
- request:
    method: get
    uri: https://mangal.io/api/v2/node/24343
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1be-MvtsiIosUpjFwnjgfJUz5TrNp3I"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":24343,"original_name":"Balanus balanoides","node_level":"taxon","network_id":1477,"taxonomy_id":5580,"created_at":"2019-03-05T15:50:31.982Z","updated_at":"2019-03-05T15:50:31.982Z","taxonomy":{"id":5580,"name":"Semibalanus
        balanoides","ncbi":94630,"tsn":89687,"eol":336009,"bold":14241,"gbif":2115784,"col":"f9ad62e6d1a8e7f71ccf96ec38629e2c","rank":"species","created_at":"2019-03-01T19:43:03.509Z","updated_at":"2019-06-14T15:26:50.874Z"}}'
  recorded_at: 2021-11-08 23:08:49 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
