http_interactions:
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?tsn=28749&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"ec-e1KnaeqfecilndCu/vMmLlhDLrQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2,"name":"Acer negundo","ncbi":4023,"tsn":28749,"eol":583069,"bold":100987,"gbif":3189866,"col":"90203e29e2f59e5754167f89b9eba3cc","rank":"species","created_at":"2019-02-21T21:17:12.585Z","updated_at":"2019-06-14T15:20:36.273Z"}]'
  recorded_at: 2021-11-08 23:52:28 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?tsn=28749&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"ec-e1KnaeqfecilndCu/vMmLlhDLrQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2,"name":"Acer negundo","ncbi":4023,"tsn":28749,"eol":583069,"bold":100987,"gbif":3189866,"col":"90203e29e2f59e5754167f89b9eba3cc","rank":"species","created_at":"2019-02-21T21:17:12.585Z","updated_at":"2019-06-14T15:20:36.273Z"}]'
  recorded_at: 2021-11-08 23:52:28 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/node?taxonomy_id=2&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"1a7-DGG4mn2HffFgmMYdI8LVxU6NTKQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2629,"original_name":"Acer negundo","node_level":"taxon","network_id":19,"taxonomy_id":2,"created_at":"2019-02-22T18:48:49.433Z","updated_at":"2019-02-22T18:48:49.433Z","taxonomy":{"id":2,"name":"Acer
        negundo","ncbi":4023,"tsn":28749,"eol":583069,"bold":100987,"gbif":3189866,"col":"90203e29e2f59e5754167f89b9eba3cc","rank":"species","created_at":"2019-02-21T21:17:12.585Z","updated_at":"2019-06-14T15:20:36.273Z"}}]'
  recorded_at: 2021-11-08 23:52:28 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/node?taxonomy_id=2&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"1a7-DGG4mn2HffFgmMYdI8LVxU6NTKQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2629,"original_name":"Acer negundo","node_level":"taxon","network_id":19,"taxonomy_id":2,"created_at":"2019-02-22T18:48:49.433Z","updated_at":"2019-02-22T18:48:49.433Z","taxonomy":{"id":2,"name":"Acer
        negundo","ncbi":4023,"tsn":28749,"eol":583069,"bold":100987,"gbif":3189866,"col":"90203e29e2f59e5754167f89b9eba3cc","rank":"species","created_at":"2019-02-21T21:17:12.585Z","updated_at":"2019-06-14T15:20:36.273Z"}}]'
  recorded_at: 2021-11-08 23:52:28 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?ncbi=47966&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"f4-zLSYj9wvXLD+gztYDWN693Bliig"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":3151,"name":"Acer japonicum","ncbi":47966,"tsn":837855,"eol":2888970,"bold":448667,"gbif":8010851,"col":"3388e995334d5638aeb11ef84f98b319","rank":"species","created_at":"2019-02-22T00:31:53.328Z","updated_at":"2019-06-14T15:24:58.251Z"}]'
  recorded_at: 2021-11-08 23:52:28 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?ncbi=47966&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"f4-zLSYj9wvXLD+gztYDWN693Bliig"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":3151,"name":"Acer japonicum","ncbi":47966,"tsn":837855,"eol":2888970,"bold":448667,"gbif":8010851,"col":"3388e995334d5638aeb11ef84f98b319","rank":"species","created_at":"2019-02-22T00:31:53.328Z","updated_at":"2019-06-14T15:24:58.251Z"}]'
  recorded_at: 2021-11-08 23:52:28 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?eol=583069&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"ec-e1KnaeqfecilndCu/vMmLlhDLrQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2,"name":"Acer negundo","ncbi":4023,"tsn":28749,"eol":583069,"bold":100987,"gbif":3189866,"col":"90203e29e2f59e5754167f89b9eba3cc","rank":"species","created_at":"2019-02-21T21:17:12.585Z","updated_at":"2019-06-14T15:20:36.273Z"}]'
  recorded_at: 2021-11-08 23:52:28 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?eol=583069&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"ec-e1KnaeqfecilndCu/vMmLlhDLrQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2,"name":"Acer negundo","ncbi":4023,"tsn":28749,"eol":583069,"bold":100987,"gbif":3189866,"col":"90203e29e2f59e5754167f89b9eba3cc","rank":"species","created_at":"2019-02-21T21:17:12.585Z","updated_at":"2019-06-14T15:20:36.273Z"}]'
  recorded_at: 2021-11-08 23:52:28 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?bold=100987&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"ec-e1KnaeqfecilndCu/vMmLlhDLrQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2,"name":"Acer negundo","ncbi":4023,"tsn":28749,"eol":583069,"bold":100987,"gbif":3189866,"col":"90203e29e2f59e5754167f89b9eba3cc","rank":"species","created_at":"2019-02-21T21:17:12.585Z","updated_at":"2019-06-14T15:20:36.273Z"}]'
  recorded_at: 2021-11-08 23:52:28 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://mangal.io/api/v2/taxonomy?bold=100987&count=100&page=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      content-range: items 0-0/1
      etag: W/"ec-e1KnaeqfecilndCu/vMmLlhDLrQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2,"name":"Acer negundo","ncbi":4023,"tsn":28749,"eol":583069,"bold":100987,"gbif":3189866,"col":"90203e29e2f59e5754167f89b9eba3cc","rank":"species","created_at":"2019-02-21T21:17:12.585Z","updated_at":"2019-06-14T15:20:36.273Z"}]'
  recorded_at: 2021-11-08 23:52:28 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
